header{
    background: #4aaaa5;
    float: left;
    width: 33%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;

}

body{
    background: #ffffff
}

#first{
    float: left
}

#second{
    float: left
}

#third{
    float: left
}

html, body {
    height: 100%;
    margin: 0;
  }
  .wrapper {
    min-height: 100%;
  
    margin-bottom: -50px;
  }
  .footer,
  .push {
    height: 50px;
  }
.footer{
    background: #4aaaa5;
}

