html{
    
}


header{
    background: #4aaaa5;
    float: left;
    width: 33%;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    height: 100px;

}

#about{
    color: #4aaaa5
}

p{
    font-size: 1.5em;
}

#pic{
    float: left;
}

.topbar{
    height: 100px;
    background: red;
}

body{
    background: #cccccc;
}



.main{
    background: #ffffff;
    width: 960px;
    margin: auto;
  
}



html, body {
    height: 100%;
    margin: 0;
  }
 
  .wrapper {
    min-height: 100%;
    margin-bottom: -50px;
  }
  
  .footer, .push {
    height: 50px;
  }

  .footer{
    background: #4aaaa5;
}

